#wrapper{
    margin: 0em;
    width: 100%;
    
}

#CardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    width: 80
}

h1{
    margin: 1em;
    justify-content: center;
    text-align: center;
}

ul{
    margin: 0em;
}