#NavWrapper{
    background-color: rgb(215, 212, 212);
    box-shadow: 2px 2px 10px 0 rgba(185, 185, 185, 0.5);
    margin: 0em;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    z-index: 2;
}

#basicUL{
    list-style: none;
    /* Remove the fixed padding and adjust styling as needed */
    padding: 0;
    color: black;
    display: flex; /* Use flex to arrange children in a row */
    align-items: center; /* Center items vertically */
    margin-left: 50em;
    margin-top: 1em;
    z-index: 3;
    
} 

#nav{
    display: inline-block;
}

#dropMenu {
    list-style: none;
    color: white;
    text-decoration: none;
    padding: .5em;
    width: 8em;
    margin: 0em;
    position: absolute;
    top: 100%; /* Position below the trigger */
    background-color: white; /* Adjust background color */
    box-shadow: 2px 2px 10px 0 rgba(185, 185, 185, 0.5); /* Add box shadow */
    display: none; /* Initially hide the dropdown */
    z-index: 4;
  }
  
  #triggerDrop {
    cursor: pointer;
    position: relative;
    padding:1em;
    padding-left: 3em;
  }
  
  #triggerDrop:hover #dropMenu {
    display: block; /* Show the dropdown on hover */
  } 

.dropItem{
    text-decoration: none;
    font-size: .90em;
    color: black;
    padding-bottom: 3em;
}

.dropItem:hover {
    font-weight: bold;
}

/* .dropLI{
    padding-bottom: 1em;
} */


#logo{
   width: 5%;
   padding-left: 2em;
   padding-top: .5em;
   padding-right: 0em; 
}


.no_line{
    text-decoration: none;
    color: black;
    padding: 1em;
    padding-left: 3em;
    font-size: 16px;
}

.no_line:hover{
    font-weight: bold;
}

  