#ProjectCardWrapper{
    display: flex;
    flex-direction: row;
}

#linkButtonProj{
    height: 3em;
    margin-top: 20em;
    margin-right: 2em;
    margin-left: 2em;
}


#ProjectCard{
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5); 
    background-color: white;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;
    justify-content: space-between;
}

#row1{
    display: flex;
    flex-direction: row;
    height: 5em;
    padding: 0em;
    margin: 0em;
}

#row2{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#heroImg{
    width: 50%;
    height: 27em;
    margin: 1em;
    margin-top: 1em;
    border-radius: 1.5em;
}

#text{
    margin-top: 0em;
}

h4{
    font-size: 1.5em;
    padding-bottom: 0em;
    justify-content: left;
    text-align: left;
}

p{
    font-size: 1.05em;
}

#learnedSkills{
    display: flex;
    flex-direction: row;
}

#textSkills{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    margin: 0em;
    padding: 1em;
}

h5{
    background-color: rgb(215, 212, 212);
    color: black;
    padding: 1em;
    border-radius: 2em;
    margin: 1em;
    margin-left: 0em;
}

h6{
    font-size: 1em;
    padding: 0em;
    margin-top: 1em;
}

#detailsBar{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:3.5em;
    margin-left: 2.5em;
    }

#descLink{
    display: flex;
    flex-direction: row;
}